<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sx.userserver.foodTable.mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sx.userserver.foodTable.entity.FoodTable">
        <id column="id" property="id" />
        <result column="food_name" property="foodName" />
        <result column="food_price" property="foodPrice" />
        <result column="food_account" property="foodAccount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        food_name, food_price, food_account, id
    </sql>

</mapper>
